<!DOCTYPE html>
<html>
 <head> 
  <meta charset="UTF-8" /> 
  <title>
            WeChat后台管理@SysLab
        </title> 
  <link href="/weiphp/Public/favicon.ico" type="image/x-icon" rel="shortcut icon" /> 
  <link rel="stylesheet" type="text/css" href="../css/base.css" media="all" /> 
  <link rel="stylesheet" type="text/css" href="../css/common.css" media="all" /> 
  <link rel="stylesheet" type="text/css" href="../css/module.css" /> 
  <link rel="stylesheet" type="text/css" href="../css/style.css" media="all" /> 
  <link rel="stylesheet" type="text/css" href="../css/default_color.css" media="all" /> 
  <link rel="stylesheet" type="text/css" href="../css/push/layout_head1cd26d.css" /> 
  <link rel="stylesheet" type="text/css" href="../css/push/base1cf325.css" /> 
  <link rel="stylesheet" type="text/css" href="../css/push/lib1cd20f.css" /> 
  <link rel="stylesheet" href="../css/push/mass_send1cd20f.css" /> 
  <link rel="stylesheet" type="text/css" href="../css/push/dropdown1cd20f.css" /> 
  <!--[if lt IE 9]>
            <script type="text/javascript" src="/weiphp/Public/static/jquery-1.10.2.min.js?v=20140412">
            </script>
        <![endif]--> 
  <!--[if gte IE 9]>
            <!--> 
  <script type="text/javascript" src="../js/jquery-2.0.3.min.js"></script> 
  <script type="text/javascript" src="../js/jquery.mousewheel.js"></script> 
  <!--<![endif]--> 
 </head> 
 <body> 
  <div class="header"> 
   <span class="logo"> </span> 
   <div class="user-bar"> 
    <a href="javascript:;" class="user-entrance"> <i class="icon-user"> </i> </a> 
    <ul class="nav-list user-menu hidden"> 
     <li class="manager"> 你好， <em title="root"> root </em> </li> 
     <li> <a href="http://localhost/weiphp/index.php?s=/home/index/main.html"> 返回前台 </a> </li> 
     <li> <a href="http://localhost/weiphp/index.php?s=/admin/user/updatepassword.html"> 修改密码 </a> </li> 
     <li> <a href="http://localhost/weiphp/index.php?s=/admin/user/updatenickname.html"> 修改昵称 </a> </li> 
     <li> <a href="http://localhost/weiphp/index.php?s=/admin/public/logout.html"> 退出 </a> </li> 
    </ul> 
   </div> 
  </div> 
  <div class="sidebar" onselectstart="return false"> 
   <div id="subnav" class="subnav"> 
    <h3> <i class="icon icon-unfold"> </i> 后台 </h3> 
    <ul class="side-sub-menu"> 
     <li> <a class="item" href=" "> 管理员信息 H</a> </li> 
     <li> <a class="item" href="../view/add.html"> 添加公众号 </a> </li> 
     <li> <a class="item" href="../view/main.html"> 公众号管理 </a> </li> 
    </ul> 
    <h3> <i class="icon icon-unfold"> </i> 功能 </h3> 
    <ul class="side-sub-menu"> 
     <li> <a class="item" href="../view/push.html"> 消息推送 H</a> </li> 
     <li> <a class="item" href="../view/auto-reply.html"> 自动回复 </a> </li> 
    </ul> 
    <h3> <i class="icon icon-unfold"> </i> 管理 </h3> 
    <ul class="side-sub-menu"> 
     <li> <a class="item" href=" "> 消息管理 H</a> </li> 
     <li> <a class="item" href=" "> 用户管理 H</a> </li> 
     <li> <a class="item" href=" "> 素材管理 H</a> </li> 
    </ul> 
   </div> 
  </div> 
  <div id="main-content"> 
   <div id="top-alert" class="fixed alert alert-error" style="display: none;"> 
    <button class="close fixed" style="margin-top: 4px;"> &times; </button> 
    <div class="alert-content">
      状态栏在这里！ 
    </div> 
   </div> 
   <div> 
    <div class="tab-nav nav"> 
     <ul> 
      <li class=""><a href="../view/auto-reply.html">欢迎语</a></li> 
      <li class=""><a href="../view/article-reply.html">图文回复</a></li> 
      <li class=""><a href="../view/text-reply.html">文本回复</a></li> 
      <li class="current"><a href="../view/muti-article-option.html">多图文回复设置</a></li> 
     </ul> 
    </div> 
    <div class="cf"> 
     <div class="fl"> 
      <div class="tools"> 
       <a class="btn" href="../view/muti-article-option-add.html">新 增</a> 
       <button class="btn ajax-post confirm" target-form="ids" url=" ">删 除</button> 
      </div> 
     </div> 
    </div> 
    <!-- 数据列表 --> 
    <div class="data-table"> 
     <div class="data-table table-striped"> 
      <table> 
       <!-- 表头 --> 
       <thead> 
        <tr> 
         <th class="row-selected row-selected"> <input class="check-all" type="checkbox" /></th> 
         <th>关键词</th>
         <th>关键词类型</th>
         <th>图文列表</th>
         <th>操作</th> 
        </tr> 
       </thead> 
       <!-- 列表 --> 
       <tbody> 
        <tr> 
         <td><input class="ids" type="checkbox" value="1" name="ids[]" /></td> 
         <td>1</td>
         <td>完全匹配</td>
         <td>11<br />22</td>
         <td><a href="http://localhost/weiphp/index.php?s=/home/addons/execute/_addons/custom_reply/_controller/custom_reply_mult/_action/edit/id/1/model/28.html">编辑</a> <a href="http://localhost/weiphp/index.php?s=/home/addons/execute/_addons/custom_reply/_controller/custom_reply_mult/_action/del/id/1/model/28.html"> 删除</a></td> 
        </tr> 
       </tbody> 
      </table> 
     </div> 
    </div> 
    <div class="page"> 
    </div>  
   </div> 
  </div>  
  <script type="text/javascript">
    $(function(){
        $(window).resize(function(){
            $("#main-container").css("min-height", $(window).height() - 241);
        }).resize();
    })
</script> 
  <script type="text/javascript">
    (function(){
        var ThinkPHP = window.Think = {
            "ROOT"   : "..", //当前网站地址
            "APP"    : "../main.html", //当前项目地址
            "PUBLIC" : "/weiphp/Public", //项目公共目录地址
            "DEEP"   : "/", //PATHINFO分割符
            "MODEL"  : ["3", "1", "html"],
            "VAR"    : ["m", "c", "a"]
        }
    })();

  </script> 
  <script type="text/javascript" src="../js/think.js"></script> 
  <script type="text/javascript" src="../js/common.js"></script> 
  <script type="text/javascript">
            +function(){
                var $window = $(window), $subnav = $("#subnav"), url;
                $window.resize(function(){
                $("#main").css("min-height", $window.height() - 130);
                }).resize();

                /* 左边菜单高亮 */
                url = window.location.pathname + window.location.search;
                url = url.replace(/(\/(p)\/\d+)|(&p=\d+)|(\/(id)\/\d+)|(&id=\d+)|(\/(group)\/\d+)|(&group=\d+)/, "");
                $subnav.find("a[href$='" + url + "']").parent().addClass("current");

                /* 左边菜单显示收起 */
                $("#subnav").on("click", "h3",
                function() {
                    var $this = $(this);
                    $this.find(".icon").toggleClass("icon-fold");
                    $this.next().slideToggle("fast").siblings(".side-sub-menu:visible").prev("h3").find("i").addClass("icon-fold").end().end().hide();
                });

                $("#subnav h3 a").click(function(e) {
                    e.stopPropagation()
                });

                /* 头部管理员菜单 */
                $(".user-bar").mouseenter(function() {
                    var userMenu = $(this).children(".user-menu ");
                    userMenu.removeClass("hidden");
                    clearTimeout(userMenu.data("timeout"));
                }).mouseleave(function() {
                    var userMenu = $(this).children(".user-menu");
                    userMenu.data("timeout") && clearTimeout(userMenu.data("timeout"));
                    userMenu.data("timeout", setTimeout(function() {
                        userMenu.addClass("hidden")
                    },
                    100));
                });

                /* 表单获取焦点变色 */
                $("form").on("focus", "input",
                function() {
                    $(this).addClass('focus');
                }).on("blur", "input",
                function() {
                    $(this).removeClass('focus');
                });
                $("form").on("focus", "textarea",
                function() {
                    $(this).closest('label').addClass('focus');
                }).on("blur", "textarea",
                function() {
                    $(this).closest('label').removeClass('focus');
                });

                // 导航栏超出窗口高度后的模拟滚动条
                var sHeight = $(".sidebar").height();
                var subHeight = $(".subnav").height();
                var diff = subHeight - sHeight; //250
                var sub = $(".subnav");
                if (diff > 0) {
                    $(window).mousewheel(function(event, delta) {
                        if (delta > 0) {
                            if (parseInt(sub.css('marginTop')) > -10) {
                                sub.css('marginTop', '0px');
                            } else {
                                sub.css('marginTop', '+=' + 10);
                            }
                        } else {
                            if (parseInt(sub.css('marginTop')) < '-' + (diff - 10)) {
                                sub.css('marginTop', '-' + (diff - 10));
                            } else {
                                sub.css('marginTop', '-=' + 10);
                            }
                        }
                    });
                }
            } ();
        </script>  
 </body>
</html>